<div class="flex flex-col gap-16">
    <div class="flex flex-col gap-8 whitespace-nowrap">
        <div class="flex justify-between items-center font-bold border-b-2 border-[#d1d5db]">
            <h3 class="w-full font-bold text-lg sm:text-xl md:text-3xl xl:text-4xl">Health A-Z</h3>
            <a class="whitespace-nowrap" href="/">View All</a>
        </div>
        <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 2xl:grid-cols-4 gap-5 bg-[#1f2937] rounded">
            <a class="flex items-center text-sm md:text-lg gap-3 p-4 text-white" href="/conditions/Anxiety-&-Panic"><svg width="15px"
                    height="15px" fill="#A3CCD9" viewBox="0 0 512 512">
                    <path d="M256 512A256 256 0 1 0 256 0a256 256 0 1 0 0 512z" />
                </svg>Anxiety & Panic</a>
            <a class="flex items-center text-sm md:text-lg gap-3 p-4 text-white" href="conditions/ADHD-in-Children"><svg width="15px"
                    height="15px" fill="#A3CCD9" viewBox="0 0 512 512">
                    <path d="M256 512A256 256 0 1 0 256 0a256 256 0 1 0 0 512z" />
                </svg>ADHD in Children</a>
            <a class="flex items-center text-sm md:text-lg gap-3 p-4 text-white" href="/conditions/Back-Pain"><svg width="15px"
                    height="15px" fill="#A3CCD9" viewBox="0 0 512 512">
                    <path d="M256 512A256 256 0 1 0 256 0a256 256 0 1 0 0 512z" />
                </svg>Back Pain</a>
            <a class="flex items-center text-sm md:text-lg gap-3 p-4 text-white" href="/conditions/Baldness"><svg width="15px"
                    height="15px" fill="#A3CCD9" viewBox="0 0 512 512">
                    <path d="M256 512A256 256 0 1 0 256 0a256 256 0 1 0 0 512z" />
                </svg>Baldness</a>
            <a class="flex items-center text-sm md:text-lg gap-3 p-4 text-white" href="/conditions/Beauty"><svg width="15px"
                    height="15px" fill="#A3CCD9" viewBox="0 0 512 512">
                    <path d="M256 512A256 256 0 1 0 256 0a256 256 0 1 0 0 512z" />
                </svg>Beauty</a>
            <a class="flex items-center text-sm md:text-lg gap-3 p-4 text-white" href="/conditions/Basal-Cell-Carcinoma"><svg width="15px"
                    height="15px" fill="#A3CCD9" viewBox="0 0 512 512">
                    <path d="M256 512A256 256 0 1 0 256 0a256 256 0 1 0 0 512z" />
                </svg>Basal Cell Carcinoma</a>
            <a class="flex items-center text-sm md:text-lg gap-3 p-4 text-white" href="/conditions/Heart-Disease"><svg width="15px"
                    height="15px" fill="#A3CCD9" viewBox="0 0 512 512">
                    <path d="M256 512A256 256 0 1 0 256 0a256 256 0 1 0 0 512z" />
                </svg>Heart Disease</a>
            <a class="flex items-center text-sm md:text-lg gap-3 p-4 text-white" href="/conditions/Cancer"><svg width="15px"
                    height="15px" fill="#A3CCD9" viewBox="0 0 512 512">
                    <path d="M256 512A256 256 0 1 0 256 0a256 256 0 1 0 0 512z" />
                </svg>Cancer</a>
        </div>
    </div>
</div>