<div class="flex w-full flex-col bg-gray-200 gap-5 mt-20 mb-5 rounded">
    <h3 class="text-xl font-semibold bg-[#A3CCD9] p-2 rounded">Additional Drug & Medication Tools</h3>
    <div class="flex flex-col gap-2 p-3">
     <a href="/pill-identifier" class="font-bold text-gray-700 hover:text-gray-900 transition duration-300">Pill Identifier</a>
     <a href="/interaction-checker" class="font-bold text-gray-700 hover:text-gray-900 transition duration-300">Interaction Checker</a>
     <a href="/drugs" class="font-bold text-gray-700 hover:text-gray-900 transition duration-300">Medications A-Z</a>
     <a href="/conditions" class="font-bold text-gray-700 hover:text-gray-900 transition duration-300">Conditions</a>
     <a href="/news/drugs" class="font-bold text-gray-700 hover:text-gray-900 transition duration-300">Latest Drug News</a>
     <a href="/vitamins" class="font-bold text-gray-700 hover:text-gray-900 transition duration-300">Find Vitamins</a>
    </div>
</div>