{% extends 'admin/components/index.html' %}
{% block content %}
{% load static %}
<style>#container-scroll::-webkit-scrollbar{display: none;}</style>
<div class="grid md:grid-cols-2 lg:grid-cols-4 gap-4 mx-5 py-4">
    <a href="/{{ ADMIN_PATH }}vitaminsandsupplements" class="flex relative h-40 flex-col justify-end p-4 bg-white rounded-lg shadow-md hover:bg-gray-100" style="background: linear-gradient(90deg, #3acbd7 0%, #89ebf4 100%);">
        <span class="text-gray-100 text-xl">Vitamins</span>
        <p class="ml-2 text-gray-200 text-3xl">{{ count.vitamins_count }}</p>
        <svg class="absolute w-32 h-32 top-[10%] right-5 ml-auto fill-gray-200" width="20px" height="20px" viewBox="0 0 576 512"><path d="M64 144c0-26.5 21.5-48 48-48s48 21.5 48 48V256H64V144zM0 144V368c0 61.9 50.1 112 112 112s112-50.1 112-112V189.6c1.8 19.1 8.2 38 19.8 54.8L372.3 431.7c35.5 51.7 105.3 64.3 156 28.1s63-107.5 27.5-159.2L427.3 113.3C391.8 61.5 321.9 49 271.3 85.2c-28 20-44.3 50.8-47.3 83V144c0-61.9-50.1-112-112-112S0 82.1 0 144zm296.6 64.2c-16-23.3-10-55.3 11.9-71c21.2-15.1 50.5-10.3 66 12.2l67 97.6L361.6 303l-65-94.8zM491 407.7c-.8 .6-1.6 1.1-2.4 1.6l4-2.8c-.5 .4-1 .8-1.6 1.2z"/></svg>
    </a>
    <a href="/{{ ADMIN_PATH }}drugs" class="flex relative h-40 flex-col justify-end p-4 bg-white rounded-lg shadow-md hover:bg-gray-100" style="background: linear-gradient(90deg, #6aa6e6 0%, #2a70ba 100%);">
        <span class="text-gray-100 text-xl">Drugs</span>
        <p class="ml-2 text-gray-200 text-3xl">{{ count.drug_count }}</p>
        <svg class="absolute w-32 h-32 top-[10%] right-5 ml-auto fill-gray-200" width="20px" height="20px" viewBox="0 0 512 512"><path d="M441 7l32 32 32 32c9.4 9.4 9.4 24.6 0 33.9s-24.6 9.4-33.9 0l-15-15L417.9 128l55 55c9.4 9.4 9.4 24.6 0 33.9s-24.6 9.4-33.9 0l-72-72L295 73c-9.4-9.4-9.4-24.6 0-33.9s24.6-9.4 33.9 0l55 55L422.1 56 407 41c-9.4-9.4-9.4-24.6 0-33.9s24.6-9.4 33.9 0zM210.3 155.7l61.1-61.1c.3 .3 .6 .7 1 1l16 16 56 56 56 56 16 16c.3 .3 .6 .6 1 1l-191 191c-10.5 10.5-24.7 16.4-39.6 16.4H97.9L41 505c-9.4 9.4-24.6 9.4-33.9 0s-9.4-24.6 0-33.9l57-57V325.3c0-14.9 5.9-29.1 16.4-39.6l43.3-43.3 57 57c6.2 6.2 16.4 6.2 22.6 0s6.2-16.4 0-22.6l-57-57 41.4-41.4 57 57c6.2 6.2 16.4 6.2 22.6 0s6.2-16.4 0-22.6l-57-57z"/></svg>
    </a>
    <a href="/{{ ADMIN_PATH }}pillidentification" class="flex relative h-40 flex-col justify-end p-4 bg-white rounded-lg shadow-md hover:bg-gray-100" style="background: linear-gradient(90deg, #64a3e3 0%, #5193d6 100%);">
        <span class="text-gray-100 text-xl">Pills</span>
        <p class="ml-2 text-gray-200 text-3xl">{{ count.pills_count }}</p>
        <svg class="absolute w-32 h-32 top-[10%] right-5 ml-auto fill-gray-200" width="20px" height="20px" viewBox="0 0 576 512"><path d="M112 96c-26.5 0-48 21.5-48 48V256h96V144c0-26.5-21.5-48-48-48zM0 144C0 82.1 50.1 32 112 32s112 50.1 112 112V368c0 61.9-50.1 112-112 112S0 429.9 0 368V144zM554.9 399.4c-7.1 12.3-23.7 13.1-33.8 3.1L333.5 214.9c-10-10-9.3-26.7 3.1-33.8C360 167.7 387.1 160 416 160c88.4 0 160 71.6 160 160c0 28.9-7.7 56-21.1 79.4zm-59.5 59.5C472 472.3 444.9 480 416 480c-88.4 0-160-71.6-160-160c0-28.9 7.7-56 21.1-79.4c7.1-12.3 23.7-13.1 33.8-3.1L498.5 425.1c10 10 9.3 26.7-3.1 33.8z"/></svg>
    </a>
    <a href="/{{ ADMIN_PATH }}contactus" class="flex relative h-40 flex-col justify-end p-4 bg-white rounded-lg shadow-md hover:bg-gray-100" style="background: linear-gradient(90deg, #428bd9 0%, #2371c4 100%);">
        <span class="text-gray-100 text-xl">Message</span>
        <p class="ml-2 text-gray-200 text-3xl">{{ count.messages_count }}</p>
        <svg fill="#ffffff"class="absolute w-32 h-32 top-[10%] right-5 ml-auto text-gray-600" viewBox="0 0 512 512"><path d="M64 112c-8.8 0-16 7.2-16 16v22.1L220.5 291.7c20.7 17 50.4 17 71.1 0L464 150.1V128c0-8.8-7.2-16-16-16H64zM48 212.2V384c0 8.8 7.2 16 16 16H448c8.8 0 16-7.2 16-16V212.2L322 328.8c-38.4 31.5-93.7 31.5-132 0L48 212.2zM0 128C0 92.7 28.7 64 64 64H448c35.3 0 64 28.7 64 64V384c0 35.3-28.7 64-64 64H64c-35.3 0-64-28.7-64-64V128z" /></svg>
    </a>
</div>
<div class="flex flex-col w-full bg-gray-100 gap-2 rounded">
    <h3 class="md:text-xl font-bold p-4 border-b border-gray-400 rounded" style="color: #10b981; background: #10b981; background: linear-gradient(90deg, #118a61 15%, rgba(11, 139, 123, 1) 49%, rgba(8, 122, 125, 1) 72%); -webkit-background-clip: text; background-clip: text; -webkit-text-fill-color: transparent; text-fill-color: transparent;">Edit HomePage Components</h3>    
    <div class="flex flex-col gap-20 p-4">
        <div class="flex flex-col gap-2 bg-gray-200 md:mx-5 lg:mx-10 xl:mx-20 rounded">
            <form action="/{{ ADMIN_PATH }}changehomepage/" method="post" class="flex flex-col sm:flex-row sm:justify-between sm:items-center bg-gray-400 gap-2 p-2">{% csrf_token %}
                <input type="text" style="display: none;" name="type" value="search_drug_conditions" />
                <div class="flex items-center gap-2">
                    <label for="value" class="font-semibold">Click the checkbox to show this component </label>
                    <input type="checkbox" name="value" {% if HomePage.search_drug_conditions %} checked {% endif %} />
                </div>
                <button class="w-fit text-gray-200 bg-gray-900 py-1 px-4 border border-gray-500 rounded hover:bg-gray-800 transition duration-300">Save Component</button>
            </form>
            <div class="p-2">{% include 'components/home-drugs_conditions.html' %}</div>
        </div>
        <div class="flex flex-col gap-2 bg-gray-200 md:mx-5 lg:mx-10 xl:mx-20 rounded">
            <form action="/{{ ADMIN_PATH }}changehomepage/" method="post" class="flex flex-col sm:flex-row sm:justify-between sm:items-center bg-gray-400 gap-2 p-2">{% csrf_token %}
                <input type="text" style="display: none;" name="type" value="slider" />
                <div class="flex items-center gap-2">
                    <label for="value" class="font-semibold">Click the checkbox to show this component </label>
                    <input type="checkbox" name="value" {% if HomePage.slider %} checked {% endif %} />
                </div>
                <button class="w-fit text-gray-200 bg-gray-900 py-1 px-4 border border-gray-500 rounded hover:bg-gray-800 transition duration-300">Save Component</button>
            </form>
            <div class="p-2">{% include 'components/home-slider.html' %}</div>
        </div>
        <div class="flex flex-col gap-2 bg-gray-200 md:mx-5 lg:mx-10 xl:mx-20 rounded">
            <form action="/{{ ADMIN_PATH }}changehomepage/" method="post" class="flex flex-col sm:flex-row sm:justify-between sm:items-center bg-gray-400 gap-2 p-2">{% csrf_token %}
                <input type="text" style="display: none;" name="type" value="healthy_life" />
                <div class="flex items-center gap-2">
                    <label for="value" class="font-semibold">Click the checkbox to show this component </label>
                    <input type="checkbox" name="value" {% if HomePage.healthy_life %} checked {% endif %} />
                </div>
                <button class="w-fit text-gray-200 bg-gray-900 py-1 px-4 border border-gray-500 rounded hover:bg-gray-800 transition duration-300">Save Component</button>
            </form>
            <div class="p-2">{% include 'components/home-well_being.html' %}</div>
        </div>
        <div class="flex flex-col gap-2 bg-gray-200 md:mx-5 lg:mx-10 xl:mx-20 rounded">
            <form action="/{{ ADMIN_PATH }}changehomepage/" method="post" class="flex flex-col sm:flex-row sm:justify-between sm:items-center bg-gray-400 gap-2 p-2">{% csrf_token %}
                <input type="text" style="display: none;" name="type" value="health_az" />
                <div class="flex items-center gap-2">
                    <label for="value" class="font-semibold">Click the checkbox to show this component </label>
                    <input type="checkbox" name="value" {% if HomePage.health_az %} checked {% endif %} />
                </div>
                <button class="w-fit text-gray-200 bg-gray-900 py-1 px-4 border border-gray-500 rounded hover:bg-gray-800 transition duration-300">Save Component</button>
            </form>
            <div class="p-2">{% include 'components/home-conditions.html' %}</div>
        </div>
        <div class="flex flex-col gap-2 bg-gray-200 md:mx-5 lg:mx-10 xl:mx-20 rounded">
            <form action="/{{ ADMIN_PATH }}changehomepage/" method="post" class="flex flex-col sm:flex-row sm:justify-between sm:items-center bg-gray-400 gap-2 p-2">{% csrf_token %}
                <input type="text" style="display: none;" name="type" value="top_news" />
                <div class="flex items-center gap-2">
                    <label for="value" class="font-semibold">Click the checkbox to show this component </label>
                    <input type="checkbox" name="value" {% if HomePage.top_news %} checked {% endif %} />
                </div>
                <button class="w-fit text-gray-200 bg-gray-900 py-1 px-4 border border-gray-500 rounded hover:bg-gray-800 transition duration-300">Save Component</button>
            </form>
            <div class="p-2">{% include 'components/home-news.html' %}</div>
        </div>
    </div>
</div>
{% endblock %}