{% extends 'components/index.html' %}
{% block content %}
{% load custom_filters %}
<div class="flex flex-col min-h-60 max-h-60 w-full bg-[#A3CCD9] font-bold px-4 sm:px-12 md:pl-20 lg:pl-32 lg:pr-16 xl:pl-64 2xl:pr-60 2xl:pl-[342px] pb-auto pt-5 select-none">
    {% include 'components/breadcrumbs.html' %}
    <h1 class="w-full text-center text-lg sm:text-xl md:text-3xl xl:text-4xl mt-14">{{ title }}</h1>
    <p class="w-full text-gray-600 text-center text-xs md:text-sm mt-2">Information from a reliable source</p>
</div>
<section class="flex flex-col px-4 sm:px-12 md:pl-20 lg:pl-32 lg:pr-16 xl:pl-64 2xl:pr-60 2xl:pl-[342px] py-5 md:py-10 gap-10">
<div class="flex flex-col gap-3"><h3 class="font-bold text-2xl xl:text-3xl 2xl:text-4xl pl-5">{{ title }}</h3><div class="flex max-w-[90%] min-w-[90%] bg-[#A3CCD9] relative min-h-1 max-h-1 border border-[#A3CCD9] before:absolute before:-top-3 before:-left-5 before:content-[''] before:block before:bg-[#A3CCD9] before:max-w-6 before:min-w-6 before:min-h-6 before:max-h-6 before:rounded-full after:content-[''] after:block after:bg-[#A3CCD9] after:max-w-6 after:min-w-6 after:min-h-6 after:max-h-6 after:rounded-full  after:absolute after:-top-3 after:-right-5 mx-4"></div></div>
<img src="/images/{{ news.featured_image }}" alt="{{ news.title }}">
{{ news.permalink }}
{{ news.title }}
{{ news.content|safe }}
{{ news.category }}
{{ news.author }}
{{ news.seo_title }}
{{ news.seo_description }}
{{ news.seo_keywords }}
{{ news.search_count }}
{{ news.status }}
{{ news.last_updated }}
</section>
{% endblock %}