{% extends 'components/index.html' %}
{% block content %}
{% load static %}
<link rel="stylesheet" href="{% static 'content.css' %}">
<div class="flex flex-col w-full bg-[#A3CCD9] font-bold px-4 sm:px-12 md:pl-20 lg:pl-32 lg:pr-16 xl:pl-64 2xl:pr-60 2xl:pl-[342px] 2xl:pr-72 pt-5 pb-12 select-none">{% include 'components/breadcrumbs.html' %}<h1 class="w-full text-center text-lg sm:text-xl md:text-3xl xl:text-4xl 2xl:text-5xl mt-14">{{ page_data.title }}</h1></div>
<div id="content" class="px-4 sm:px-12 md:pl-20 lg:pl-32 lg:pr-16 xl:pl-64 2xl:pr-60 2xl:pl-[342px] 2xl:pr-72 pt-5 pb-12 text-justify">{{ page_data.content|safe }}</div>
{% endblock %}